@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500,900");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

html {
  scroll-behavior: smooth;
}

/**************** MENU ****************/
.menu {
  background: White;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 66px;
  line-height: 66px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(168, 164, 164);
  z-index: 1000000;
}

.m-left {
  float: left;
}

.m-right {
  float: right;
  font-family: "Lato";
}

.m-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
}

.m-link:hover {
  border-bottom: 2px solid black;
}

.inner {
  width: 80%;
  margin: auto;
}

.Logo {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 35px;
  letter-spacing: 1px;
}

.m-nav-toggle {
  width: 40px;
  height: 66px;
  display: none;
  align-items: center; /*verticalement*/
  float: right;
  margin-right: 70px;
  cursor: pointer;
}

span.m-toggle-icon,
span.m-toggle-icon:before,
span.m-toggle-icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: rgb(3, 3, 3);
  position: relative;
  transition: all 0.3s ease-in-out;
}

span.m-toggle-icon:before {
  top: 10px;
}
span.m-toggle-icon:after {
  top: -14px;
}

.m-right.is-open {
  transform: translateX(0);
}

.m-nav-toggle.is-open span.m-toggle-icon {
  background: transparent;
}

.m-nav-toggle.is-open span.m-toggle-icon:before,
.m-nav-toggle.is-open span.m-toggle-icon:after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}

.m-nav-toggle.is-open span.m-toggle-icon:after {
  position: absolute;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 1000px) {
  .m-right {
    position: fixed;
    top: 66px;
    right: 0;
    width: 200px;
    height: 40%;
    border-left: 1px solid rgb(168, 164, 164);
    border-bottom: 1px solid rgb(168, 164, 164);
    background: white;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }

  .m-link:hover {
    border-bottom: 2px solid rgba(97, 97, 97, 0.308);
  }

  .m-link {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 20px;
    height: 70px;
  }

  .m-nav-toggle {
    display: flex;
  }
}

@media only screen and (max-width: 640px) {
  .m-right {
    position: fixed;
    top: 66px;
    right: 0;
    width: 200px;
    height: 50%;
    border-left: 1px solid rgb(168, 164, 164);
    border-bottom: 1px solid rgb(168, 164, 164);
    background: white;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }
}

/**************** SECTION PROJETS ****************/

body {
  background-color: rgba(0, 0, 0, 0.226);
  margin-top: 100px;
  padding: 0;
  overflow-x: hidden;
}

.Sommaire {
  width: 15em;
  height: 20em;
  border: 1px solid rgb(168, 164, 164);
  margin-top: 3em;
  margin-left: 3em;
  font-family: "Lato";
  margin-bottom: 3em;
  padding: 8px 12px;
  background: rgba(241, 237, 237, 0.938);
}

.nav-sommaire {
  margin-left: 2px;
}

.SommaireP {
  text-decoration: none;
  color: black;
}

button {
  background-color: #444141;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #444141;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

button:hover {
  border: 1px solid #444141;
  background-color: rgb(97, 95, 95);
  animation: slidernbw 5s linear infinite;
}

.Bouttons {
  margin: 0 2em;
  text-align: center;
}

.B-right,
.B-Left {
  color: white;
}

.Titreh2 {
  text-align: center;
  font-family: "Lato";
  border: 1px solid rgb(168, 164, 164);
  margin-top: 1em;
  margin-left: 5em;
  margin-right: 5em;
  padding: 8px 12px;
  background: rgba(233, 221, 221, 0.993);
}

.CommunSection {
  text-align: center;
  border: 1px solid rgb(168, 164, 164);
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 0;
  padding: 8px 12px;
  background: white;
  color: black;
}

.EndSection {
  text-align: center;
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 0;
  padding: 8px 12px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 2em;
  text-align: center;
  text-justify: auto;
  text-size-adjust: auto;
}

.Tiret {
  color: black;
  font-weight: 700;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

@media only screen and (max-width: 1000px) {
  .Titreh2 {
    text-align: center;
    font-family: "Lato";
    border: 1px solid rgb(168, 164, 164);
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 8px 12px;
    background: rgba(233, 221, 221, 0.993);
  }
}

@media only screen and (max-width: 640px) {
  .Titreh2 {
    text-align: center;
    font-size: 15px;
    font-family: "Lato";
    border: 1px solid rgb(168, 164, 164);
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 8px 12px;
    background: rgba(233, 221, 221, 0.993);
  }

  button {
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #444141;
    cursor: pointer;
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2em;
    text-align: center;
    text-justify: auto;
  }
}

/**************** SECTION VEILLE ****************/

.Titre {
  text-align: center;
  font-family: "Lato";
  font-weight: 900;
  border: 1px solid rgb(168, 164, 164);
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 8px 12px;
  background: rgba(233, 221, 221, 0.993);
}

.Cadre {
  text-align: center;
  border: 1px solid rgb(168, 164, 164);
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 0;
  padding: 8px 12px;
  background: white;
  color: black;
}

/* .Quésaco {
  text-align: center;
  border: 1px solid rgb(168, 164, 164);
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 0;
  padding: 8px 12px;
  background: white;
  color: black;
} */

@media only screen and (max-width: 800px) {
  img {
    height: auto;
    width: 310px;
  }
}

@media only screen and (max-width: 640px) {
  img {
    height: auto;
    width: 200px;
  }

  .Titre {
    text-align: center;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    border: 1px solid rgb(168, 164, 164);
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 8px 12px;
    background: rgba(233, 221, 221, 0.993);
  }
}

/**************** SECTION PARCOURS ****************/

div.container {
  text-align: center;
}

ul.indentation-list {
  display: inline-block;
  text-align: left;
}

.line {
  height: 5px;
  width: 10%;
  margin: 0 auto;
  background: rgb(168, 164, 164);
}

.PresStage {
  text-align: justify;
}

@media only screen and (max-width: 640px) {
  .ImgStage {
    height: auto;
    width: 200px;
  }
}

/**************** SECTION ACCUEIL ****************/
.projects {
  margin: 200px 0;
}

.projects-container {
  margin-top: 100px;
}

.project {
  position: relative;
  width: 60vw;
  max-width: 700px;
  margin: 50px 5vw;
}

#p1 {
  margin-left: 8vw;
}

#p2 {
  margin: 0 6vw 0 auto;
}

/* #p3
{
	margin-left: 8vw;
} */

.project img {
  transition: 0.4s ease-out;
  width: 100%;
}

.project:hover img {
  filter: brightness(20%);
}

.project:hover .projects-infos,
.project:hover .projects-infos1 {
  opacity: 1;
  transform: translate(0, -50%);
}

.projects-infos,
.projects-infos1 {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 8vw;
  transition: 0.4s ease-out;
  opacity: 0;
}

.projects-infos a,
.projects-infos1 a {
  font-size: calc(1rem + 2vw);
}

.projects-infos p,
.projects-infos1 p {
  font-size: 2rem;
  margin-top: 1.5vw;
  color: #fefeff;
}

@media only screen and (max-width: 600px) {
  .projects-infos1 a {
    font-size: calc(1rem + 1vw);
  }

  .projects-infos1 p {
    font-size: 1rem;
    margin-top: 2vw;
    color: #fefeff;
  }
}

/*****ICON*****/
.row {
  display: flex;
  width: 100%;
  margin-left: 0px;
}

.icons {
  flex: 25%;
  margin-top: 10px;
}

.icons img {
  width: auto;
  max-height: 70px;
}

.CB {
  width: auto;
  height: 100px;
}

.image,
.img2,
.img,
.img3,
.img4 {
  width: 700px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .image,
  .img2,
  .img,
  .img3,
  .img4 {
    width: 300px;
    height: auto;
  }
}

@media only screen and (max-width: 640px) {
  .image,
  .img2,
  .img,
  .img3,
  .img4 {
    width: 200px;
    height: auto;
  }
}
